.whole {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.half {
  background-color: #d79873;
  grid-column: 1/2;
  text-align: center;
  height: 600px;
  z-index: 0;
  grid-row: 1/1;
}
.half2 {
  background-color: #d48c6a;
  grid-column: 2/3;
  text-align: center;
  height: 600px;
  z-index: 0;
  grid-row: 1/1;
}
.image1 {
  grid-column: 1/2;
  z-index: 2;
  grid-row: 1/1;
  height: 450px;
  margin: 100px 250px;
}
.images2 {
  grid-column: 2/3;
  z-index: 3;
  grid-row: 1/1;
  height: 450px;
  margin: 100px 250px;
}
