.whole {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.half {
  background-color: #d79873;
  grid-column: 1/2;
  text-align: center;
  height: 600px;
  z-index: 0;
  grid-row: 1/1;
}
.half2 {
  background-color: #d48c6a;
  grid-column: 2/3;
  text-align: center;
  height: 600px;
  z-index: 0;
  grid-row: 1/1;
}
.image1 {
  grid-column: 1/2;
  z-index: 2;
  grid-row: 1/1;
  height: 450px;
  margin: 100px 250px;
}
.images2 {
  grid-column: 2/3;
  z-index: 3;
  grid-row: 1/1;
  height: 450px;
  margin: 100px 250px;
}
.images2:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
  width: 200px;
}
.image1:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(3px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -2px) rotate(10deg);
  }
  20% {
    transform: translate(-5px, 0px) rotate(20deg);
  }
  30% {
    transform: translate(5px, 2px) rotate(40deg);
  }
  40% {
    transform: translate(3px, -1px) rotate(60deg);
  }
  50% {
    transform: translate(-3px, 2px) rotate(801deg);
  }
  60% {
    transform: translate(-5px, 1px) rotate(100deg);
  }
  70% {
    transform: translate(5px, 1px) rotate(120deg);
  }
  80% {
    transform: translate(-3px, -1px) rotate(140deg);
  }
  90% {
    transform: translate(3px, 2px) rotate(160deg);
  }
  91% {
    transform: translate(3px, 2px);
  }
  92% {
    transform: translate(3px, 2px);
  }
  93% {
    transform: translate(3px, 2px);
  }
  94% {
    transform: translate(3px, 2px);
  }
  95% {
    transform: translate(3px, 2px);
  }
  100% {
    transform: translate(3px, -2px) rotate(180deg);
  }
}
.sebas {
  color: black;
  width: 600px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
}
.ammon {
  color: black;
  width: 600px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
}
