.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.star {
  width: 600px;
  height: 600px;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 0;
}
.circle {
  width: 200px;
  height: 200px;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 2;
  text-align: center;
  margin: 200px 200px 200px 200px;
}
