@import url("https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@700&family=Roboto:wght@300&display=swap");
@import url(https://coolors.co/525b63-8bae98-e9dcca-b33532-36293a);

body {
  background-color: white;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 22px;
  min-width: 800px;
}
#search {
  border: 4px solid #b33532;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 300px;
  color: #e9dcca;
  font-family: "Roboto", "Lora&family", sans-serif;
}
#search2 {
  border: 4px solid #b33532;
  width: 300px;
  border-radius: 10px;
  color: #525b63;
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 1/2;
  grid-row: 1/1;
  margin: 40px;
}
header {
  background-color: #525b63;
  display: grid;
  grid-template-columns: 150px auto;
}
.logo {
  width: 150px;
  margin-top: 5px;
  margin-left: 10px;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
nav a {
  margin-top: -65px;
  text-align: center;
  color: #e9dcca;
  text-decoration: none;
  font-family: "Roboto", "Lora&family", sans-serif;
  padding: 15px 20px 15px 20px;
}
nav a:hover {
  background-color: #e9dcca;
  color: #525b63;
  font-family: "Roboto", "Lora&family", sans-serif;
  border-radius: 10%;
  box-shadow: 4px 5px 7px #8bae98;
}
.nav1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: max-content;
  margin-left: 175px;
}
.yeet {
  grid-column: 1/2;
  box-shadow: 4px 5px 10px #b33532;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-left: 20px;
}
.yeet1 {
  grid-column: 2/3;
  box-shadow: 4px 5px 10px #b33532;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin-left: 40px;
}
.yeet2 {
  grid-column: 3/4;
  box-shadow: 4px 5px 10px #b33532;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-left: 60px;
}
.yeet3 {
  grid-column: 4/5;
  width: 100%;
  box-shadow: 4px 5px 10px #b33532;
  border-radius: 5px;
  text-align: center;
  margin-left: 80px;
}
.front {
  display: grid;
  grid-template-columns: 1fr;
}
.front1 {
  width: 100%;
  height: 350px;
  grid-column: 1/2;
}
.front2 {
  grid-column: 1/2;
  margin: -200px 0px 0px 50px;
  color: #e9dcca;
  border: 5px dashed #e9dcca;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #525b63;
  font-family: "Roboto", "Lora&family", sans-serif;
}
.featureditems {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  margin: 40px auto;
  color: #e9dcca;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Roboto", "Lora&family", sans-serif;
  padding-left: 55px;
}
.photo1 {
  width: 200px;
  height: 300px;
  grid-column: 1/2;
  margin: 0px 0px 0px 20px;
  padding: 20px;
  border: 2px solid #b33532;
}
.photo1:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.photo2 {
  width: 200px;
  height: 300px;
  grid-column: 2/3;
  padding: 20px;
  border: 2px solid #b33532;
  margin: 0px 0px 0px 20px;
}
.photo2:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.photo3 {
  width: 200px;
  height: 300px;
  grid-column: 3/4;
  padding: 20px;
  border: 2px solid #b33532;
  margin: 0px 0px 0px 20px;
}
.photo3:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.photo4 {
  width: 200px;
  height: 300px;
  grid-column: 4/5;
  padding: 20px;
  border: 2px solid #b33532;
  margin: 0px 0px 0px 20px;
}
.photo4:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.text1 {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-left: 2px;
}
.text2 {
  width: 200px;
  height: 100px;
  padding: 20px;
}
.text3 {
  width: 200px;
  height: 100px;
  padding: 20px;
}
.text4 {
  width: 200px;
  height: 100px;
  padding: 20px;
}
.text5 {
  margin-left: 2px;
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-top: -10px;
  font-weight: bold;
}
.text6 {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-top: -10px;
  font-weight: bold;
}
.featureditems1 {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  margin: 40px auto;
  color: #e9dcca;
  width: 450px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.catag {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-family: "Roboto", "Lora&family", sans-serif;
  padding-left: 35px;
}
.photos1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  grid-column: 1/2;
  margin-left: 20px;
  border: 5px double #b33532;
  margin-top: 50px;
}
.photos1:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  border: 5px solid #b33532;
}
.photos2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  grid-column: 2/3;
  margin-left: 20px;
  border: 5px double #b33532;
  margin-top: 50px;
}
.photos2:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  border: 5px solid #b33532;
}
.photos3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  grid-column: 3/4;
  margin-left: 20px;
  border: 5px double #b33532;
  margin-top: 50px;
}
.photos3:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  border: 5px solid #b33532;
}
.photos4 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  grid-column: 4/5;
  margin-left: 20px;
  border: 5px double #b33532;
  margin-top: 50px;
}
.photos4:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  border: 5px solid #b33532;
}
.photos5 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  grid-column: 5/6;
  margin-left: 20px;
  border: 5px double #b33532;
  margin-top: 50px;
}
.photos5:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  border: 5px solid #b33532;
}
.frontbuy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Roboto", "Lora&family", sans-serif;
  padding-left: 20px;
}
.photosbuy {
  width: 170px;
  height: 250px;
  border: 2px solid #b33532;
  padding: 20px;
  margin: 40px 10px 30px 20px;
}
.photosbuy:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.photobuy {
  grid-column: 3/4;
  grid-row: 1/2;
}
.photobuy2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.photobuy3 {
  grid-column: 5/6;
  grid-row: 1/2;
}
.photobuy4 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.photobuy5 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.photobuy6 {
  grid-column: 5/6;
  grid-row: 2/3;
}
.photobuy7 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.photobuy8 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.photobuy9 {
  grid-column: 5/6;
  grid-row: 3/4;
}
.textbuy {
  width: 200px;
  height: 100px;
  margin: 0px 0px 0px 25px;
}
.textbuy2 {
  width: 200px;
  height: 100px;
  margin: 0px 0px 0px 25px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}
.methods {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  margin: 40px auto;
  color: #e9dcca;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.to_sell {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 75px 0px 0px 150px;
}
.to_sell1 {
  grid-column: 1/2;
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #e9dcca;
  color: #8bae98;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: #8bae98 solid 5px;
}
.to_sell1:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.to_sell2 {
  grid-column: 2/3;
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #e9dcca;
  color: #8bae98;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: #8bae98 solid 5px;
}
.to_sell2:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.to_sell3 {
  grid-column: 3/4;
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #e9dcca;
  color: #8bae98;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: #8bae98 solid 5px;
}
.to_sell3:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}
.facility {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  color: #e9dcca;
  margin: 75px 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.facility1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 0px 0px 20px;
}
.li1 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #8bae98;
  font-weight: bold;
}
.li2 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
  color: #8bae98;
  font-weight: bold;
}
.li3 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 3/4;
  grid-row: 1/2;
  color: #8bae98;
  font-weight: bold;
}
.li4 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 4/5;
  grid-row: 1/2;
  color: #8bae98;
  font-weight: bold;
}
.li5 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 1/2;
  grid-row: 2/3;
  color: #8bae98;
  font-weight: bold;
}
.li6 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;
  color: #8bae98;
  font-weight: bold;
}
.li7 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 3/4;
  grid-row: 2/3;
  color: #8bae98;
  font-weight: bold;
}
.li8 {
  font-family: "Roboto", "Lora&family", sans-serif;
  grid-column: 4/5;
  grid-row: 2/3;
  color: #8bae98;
  font-weight: bold;
}
.whatsell1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0px 25px 0px;
}
.whatsell {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  color: #e9dcca;
  margin: 50px 20px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  grid-column: 1/2;
}
.whatsell2 {
  grid-column: 2/3;
  width: 75px;
  margin-right: 1000px;
  margin-top: 38px;
}
.whatsell3 {
  font-family: "Roboto", "Lora&family", sans-serif;
  color: #8bae98;
  background-color: #e9dcca;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  width: 1100px;
}
.whatsell4 {
  grid-column: 2/3;
  width: 75px;
  margin-right: 1000px;
  margin-top: 50px;
}
.shipping {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  color: #e9dcca;
  margin: 50px 20px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  grid-column: 1/2;
}
.form1 {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  color: #e9dcca;
  margin: 50px 160px;
  width: 900px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.form2 {
  grid-column: 1/2;
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #e9dcca;
  color: #8bae98;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  border: #8bae98 solid 5px;
  font-size: 50px;
  margin: 25px 0px 0px 425px;
}
.form2:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.4s;
  box-shadow: 5px 5px 10px #8bae98;
}

footer {
  background-color: #525b63;
  color: #e9dcca;
  font-family: "Roboto", "Lora&family", sans-serif;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}
.form3 {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  margin: 40px auto;
  color: #e9dcca;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.front3 {
  grid-column: 1/2;
  margin: -200px 0px 0px 50px;
  color: #e9dcca;
  border: 5px dashed #e9dcca;
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: #525b63;
  font-family: "Roboto", "Lora&family", sans-serif;
}
#ship_form1 {
  border: 4px solid #b33532;
  border-radius: 10px;
  width: 1000px;
  color: #525b63;
  font-family: "Roboto", "Lora&family", sans-serif;
  margin: 75px 0px 50px 125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ship_form2 {
  grid-column: 1/2;
  color: #8bae98;
  padding: 20px;
}
.ship_form3 {
  grid-column: 2/3;
  color: #8bae98;
  padding: 20px;
}
.form4 {
  font-family: "Roboto", "Lora&family", sans-serif;
  background-color: #525b63;
  margin: 40px auto 70px auto;
  color: #e9dcca;
  width: 700px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.faq {
  font-family: "Roboto", "Lora&family", sans-serif;
  color: #000000
  margin: 30px 0px;
  padding: 20px;
}
.smile{
  margin: 50px 525px 0px 525px;
}
.smile:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.message{
  text-align: center;
}
#contact{
  border: 4px solid #b33532;
  width: 300px;
  border-radius: 10px;
  color: #525b63;
  font-family: "Roboto", "Lora&family", sans-serif;
  padding: 20px;
  margin: 20px 475px;
}
.email{
  text-decoration: underline;
  padding: 10px;
}
.phone{
  text-decoration: underline;
  padding: 10px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #8bae98;
  color: #e9dcca;
  transform: rotateY(180deg);
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #e9dcca;
  width: 20%;
  border: #b33532 solid 3px;
  margin-left: 300px;
  margin-top:10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #b33532;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border: #b33532 solid 3px;
  margin-top: 10px;
  max-width: 10%;
}

form.example button:hover {
  background: #8bae98;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.footer2 {
  color: #e9dcca;
}
footer a:hover {
  color: #e9dcca;
  background-color: #525b63;
  text-decoration: none;
  font-family: "Roboto", "Lora&family", sans-serif;
}
footer p {
  font-size: 1.2em;
  font-family: "Roboto", "Lora&family", sans-serif;
  color: #e9dcca;
}
#social2 {
  width: 60px;
  padding-top: 15px;
}
